@model Agreement_Management.DTOs.ProductGroupDTO

@{
    ViewData["Title"] = "CreateProductGroup";
}

<h1>CreateProductGroup</h1>

<h4>ProductGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProductGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group_Description" class="control-label"></label>
                <input asp-for="Group_Description" class="form-control" />
                <span asp-validation-for="Group_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group_Code" class="control-label"></label>
                <input asp-for="Group_Code" class="form-control" />
                <span asp-validation-for="Group_Code" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

