@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <div class="pt-3">
        <span>Welcome to the HomePage </span><a class="red font-weight-bold" href="/User/Register">New Agreement</a>
    </div>
</div>
